<%- include('partials/header') %>
<%- include('partials/navbar') %>

<!-- Profile Picture and Introduction -->
<section class="text-center py-5">
    <img src="/images/profile-picture.jpg" alt="Profile Picture" class="rounded-circle mb-3" style="width:200px;">
    <h1>About Bonish</h1>
    <p>Software Engineering Technician Student at Centennial College, Toronto. Passionate about leveraging technology to create impactful solutions.</p>
</section>

<section class="text-center py-5">
    <a href="resume/resume.pdf" target="_blank" class="btn btn-primary">View My Resume</a>
</section>

<!-- Personal Story -->
<section class="container py-5">
    <h2>My Journey</h2>
    <p> Born and raised in Toronto, I've always been fascinated by the world of technology and its potential to transform our lives.</p>
    <p> Currently, I'm pursuing my studies in Software Engineering Technician at Centennial College. My academic journey has equipped me with a strong foundation in software development principles and practices.</p>
    <p> Passions & Interests Information: "Beyond the classroom, I'm a tech-enthusiast who loves diving into new programming challenges and exploring the latest tech trends.</p>
</section>

<!-- Skills & Expertise -->
<section class="bg-light py-5">
    
    <div class="container">
        <h2>Skills & Expertise</h2> <br>
        <h3>Technical Skills</h3>
        <p> Proficient in Python, JavaScript, HTML, and CSS. Experienced in web development using ExpressJS and EJS templating. Familiar with mobile app development and database management.</p>
        <h3>Soft Skills</h3>
        <p> Effective communicator, team player, problem solver, and a keen learner</p>
    </div>
</section>

<!-- Personal Interests -->
<section class="container py-5">
    <h2>Personal Interests</h2>
    <p> Outside of software engineering, I enjoy hiking, photography, and exploring the vibrant city of Toronto</p>
</section>

<!-- Call to Action -->
<section class="text-center py-5 bg-light text-white">
    <h2>Want to see my work?</h2>
    <a href="/projects" class="btn btn-light">View My Projects</a>
</section>

<%- include('partials/footer') %>
